/* main.css: 全体に適用される共通のスタイル */

/* 基本的なスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* セクションの共通設定 */
.section {
    display: none;
}

.section.active {
    display: block;
}

h2 {
    color: #333;
}

/* フッター */
#footer {
    display: flex;
    justify-content: space-around;
    background-color: #343a40;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

#footer button {
    background-color: #f4f4f4;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#footer button:hover {
    background-color: #ddd;
}

#footer button.active {
    background-color: #007BFF;
    color: white;
}